---
layout: layouts/base.njk
---

<div class="container py-4">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="content">
                {{ content | safe }}
            </div>
        </div>
    </div>
</div>